*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}
a {
    text-decoration: none;
    color: black;
}
button{
    color: white;
    height: 35px;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 17px;
    font-weight: bolder;
    font-size: 0.9em;
    padding: 0px 20px;
    align-items: center;
}
p{
    margin: 20px 0px;
    font-size: 0.9em;
    line-height: 1.9;
}
.header1, .boite1, .boite2, .boite3{
    width: 100%;
    padding: 0px 15%;
}
.boite3, .boite4{
    display: flex;
    flex-wrap: wrap;
    padding: 100px 15%;
}

/* herder */
nav{
    background: #A4C639;
    padding-left: 14%;
    padding-right: 14%;
}
.port{
    font-size: 1.23em;
    font-weight: bold;
}
.active{
    border-bottom: 2px solid white;
}
.nav-link{
    color: white;
    font-size: 0.89em;
    margin-left: 20px;
}
.nav-link:hover{
    color: #a09b9b;
    border-bottom: 2px solid white;
}
/* carousel */
.carousel-item img{
    width: 100%;
    height: 650px;
}
.acroche{
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.h2{
    color: #A4C639;
}
.acroche h2{
    font-weight: bolder;
    font-size: 1.32em;
}
.acroche h1{
    font-size: 2.6em;
    color: white;
    font-weight: bolder;
    margin: 20px 0px;
    line-height: 1;
    letter-spacing: 2px;
}
.acroche p{
    color: white;
    margin-bottom: 30px;
    line-height: 1.8;
    font-size: 0.9em;
    font-weight: lighter;
}
.acroche input{
    height: 35px;
    color: white;
    font-weight: bolder;
    font-size: 0.7em;
    background-color: #A4C639;
    border: none;
    border-radius: 17px;
    padding: 10px 20px;
}
/* boite1 */
.boite1{
    background-color: #A4C639;
}
.bboite1{
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: #A4C639;
    align-items: center;
    padding: 40px 0px;
}
.bboite1 section h4 {
    font-size: 1.08em;
    padding-bottom: 10px;
}
.bboite1 button:hover{
    background-color: white;
    color: #A4C639;
}
/* boite2 */
.boite2{
    text-align: center;
    margin: 100px 0px;
}
.finance{
    font-size: 2em;
    font-weight: 510;
}
.finance span{
    color: #A4C639;
}
.Sous-titre{
    font-size: 00.9em;
    padding-top: 15px;
}
.service {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service aside {
    width: 31.5%;
    background-color: #F1F0EF;
}
aside .digital{
    width: 100%;
    height: auto;
}
aside .digital img{
    width: 100%;
}
aside .services{
    padding: 30px;
    text-align: left;
}
.services h3{
    font-size: 1.3em;
}
.service .btn{
    color: white;
    background-color: #A4C639;
    border: none;
    border-radius: 50px;
    padding: 0px 30px;
}
/* boite 3 */
.boite3{
    display: flex;
    flex-direction: column;
    background-image: url(../IMG/fun-facts-bg.jpg);
    background-size: cover;
    background-position: center;
}
.soltn{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.soltn section{
    width: 45%;
    color: white;
}
.solution{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.solution aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 47%;
    background-color: #39393996;
    margin-bottom: 20px;
    padding: 10px;
}
.solution aside h3{
    font-size: 1.4em;
}
/* boite 4 */
.adddddddd{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #F1F0EF;
}
.adddddddd section{
    width: 50%;
}
section img{
    width: 100%;
}
.info{
    padding: 15px 20px 10px 50px;
}
.info p{
    margin: 10px 0px;
}
/* boite 5 */
.boite5{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #F1F0EF;
    padding: 100px 15%;
}
.boite5 section{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.boite5 section aside{
    width: 48.6%;
    background-color: white;
    padding: 30px;
}
/* boite 6 */
form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 100px;
    padding: 50px;
    background-color: #A4C639;
}
form aside{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
form input{
    width: 31%;
    height: 42px;
    border-radius: 30px;
    border: none;
    padding: 0px 20px;
}
form .message{
    width: 100%;
    height: 120px;
    justify-content: flex-start;
    margin: 40px 0px;
    border-radius: 17px;
}
form .env{
    width: auto ;
    background-color: transparent;
    color: white;
    border: 3px solid white;
    font-weight: bold;
}
/* boite 7 */
.boite7{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 15%;
    background-color: #F1F0EF;
}
.boite7 section {
    width: 20%;
}
/* footer */
footer{
    display: flex;
    justify-content: space-between;
    padding: 100px 15%;
    color: white;
    background-color: #232323;
}
footer a {
    color: white;
}
footer section {
    width: 24%;
}
footer section h3 {
    font-weight: bolder;
    padding-bottom: 40px;
}
footer section p{
    margin-top: 0px;
    margin-bottom: 20px;
}
footer section ul{
    list-style: none;
}
footer section ul li {
    margin-bottom: 17px;
}
.menu-list {
    display: block;
}
.menu-list a:hover {
    color: #a09b9b;
}
.footer-form{
    display: block;
    flex-wrap: wrap;
    background-color: transparent;
    margin-top: 0px;
    padding: 0px;
}
.footer-form input {
    width: 100%;
    margin-bottom: 15px;
    background: #39393996;
    border-radius: 20px;
    font-size: 1em;
}
.msge{
    height: 100px;
}
.copy p{
    margin: 0px;
    text-align: center;
    color: white;
    background: #343434;
    padding: 30px 0px;
}
@media screen and (max-width: 600px){
    .finance{
        font-size: 1.5em;
        font-weight: bold;
        padding-bottom: 8px;
    }
    .Sous-titre{
        font-size: 0.62em;
    }
    .port{
        font-size: 0.76em;
    }
    .acroche h2{
        font-size: 1em;
    }
    .carousel-item img{
        height: 280px;
    }
    /* boite1 */
    .bboite1{
        display: block;
        align-items: center;
    }
    .bboite1 section h4{
        font-size: 0.95em;
    }
    .bboite1 section span{
        font-size: 0.8em;
    }
    .bboite1 button{
        margin-top: 20px;
    }
    /* boite 2 */
    .service{
        display: flex;
        flex-wrap: wrap;
    }
    .service aside{
        width: 100%;
        margin-bottom: 20px;
    }
    /* boite 3 */
    .soltn{
        display: flex;
        flex-wrap: wrap;
    }
    .boite3 section{
        width: 100%;
        height: auto;
    }
    .boite3 section p{
        margin: 10px 0px 10px 0px;
    }
    .solution aside{
        text-align: center;
    }
    .solution aside h3{
        font-size: 1em;
        margin-top: 10px;
    }
    /* boite 4 */
    .adddddddd{
        display: flex;
        flex-direction: column-reverse;
        text-align: justify;
    }
    .adddddddd section{
        width: 100%;
    }
    .adddddddd .info{
        padding: 20px;
    }
    /* boite 5 */
    .boite5 section{
        display: flex;
        flex-wrap: wrap;
    }
    .boite5 section aside{
        margin-top: 20px;
        width: 100%;
    }
    /* boite6 */
    .boite6 form{
        margin-top: 50px;
        padding: 20px 15px 30px 15px;
    }
    .boite6 form input{
        width: 100%;
        height: 35px;
        margin-bottom: 10px;
    }
    .boite6 form .message{
        margin-top: 0px;
        height: 100px;
    }
    .boite6 form .env{
        width: 150px;
    }
    footer{
        display: block;
        flex-direction: column;
    }
    footer section{
        width: 100%;
    }
    footer section h3{
        text-align: center;
    }
    footer h3{
        font-size: 1.3em;
    }
    footer a {
        font-size: 0.8em;
    }
}
@media screen and (min-width: 601px)and (max-width: 1000px){
    .finance{
        font-size: 1.7em;
        font-weight: bold;
        padding-bottom: 8px;
    }
    .Sous-titre{
        font-size: 0.7em;
    }
    .nav-link{
        font-size: 0.6em;
        margin-left: 10px;
    }
    .bboite1{
        display: block;
        align-items: center;
    }
    .bboite1 button{
        margin-top: 20px;
    }
    .service{
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }
    .service aside{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }
    .service aside section{
        width: 50%;
    }
    .service aside .services h3{
        font-size: 0.99em;
    }
    .service aside .services p{
        font-size: 0.6em;
        margin: 13px 0px;
    }
    .service aside .btn{
        font-size: 0.47em;
        padding: 5px 10px;
        height: auto;
    }
    .soltn{
        display: flex;
        flex-wrap: wrap;
    }
    .soltn aside h3{
        font-size: 0.89em;
    }
    .adddddddd{
        display: flex;
        flex-direction: column-reverse;
        text-align: justify;
    }
    .adddddddd section{
        width: 100%;
    }
    .adddddddd .info{
        padding: 20px;
    }
    footer h3{
        font-size: 1.09em;
    }
    footer a {
        font-size: 0.94em;
    }
}