* {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans empattement;
    box-sizing: border-box;
}

.buttun {
    width: auto;
    height: 42px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 7px;
    padding: 10px;
}

/* HEADER */
header {
    background: url("IMG/bg_01.jpg");
    background-size: cover;
    height: 800px;
}

.menu {
    padding-left: 8%;
    padding-right: 8%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.Logo {
    font-size: 2.3em;
    letter-spacing: 1px;
}

.lio {
    color: #08FDD8;
}

.metier {
    color: white;
}

ul {
    display: flex;
}

ul li {
    list-style-type: none;
    margin-right: 40px;
}

.ul {
    font-size: 1em;
}

.Logo:hover,
.ul:hover {
    color: #08FDD8;
}

.lio:hover {
    color: white;
}

.present {
    margin-top: 200px;
}

.salut {
    font-size: 2em;
    color: white;
}

.Nom {
    font-size: 5em;
    color: white;
}

.Poste {
    font-size: 2.6em;
    margin-bottom: 15px;
    color: white;
}

.type {
    color: white;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-weight: lighter;
}

.btn {
    width: auto;
    height: 50px;
    background-color: #08FDD8;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 6px;
    border-style: solid;
    border-color: #08FDD8;
    margin-top: 15px;
}

.btn:hover {
    background-color: transparent;
    color: #08FDD8;
    border: 2px solid #08FDD8;
}

.en {
    background-color: transparent;
    color: #08FDD8;
}

.plus {
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

/* HEADER */
/* PREMIERE BOITE */
.boite1 {
    background-color: #13A6A6;
}

.boite1,
.boite3,
.boite5 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    padding: 8%;
}

.propos {
    font-size: 2em;
}

.photo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.photo section {
    width: 47%;
}

.imgg {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.imgg img {
    width: 75%;
    border-radius: 20px;
    box-shadow: 3px 2px 5px 3px;
    height: auto;
}

h4 {
    font-size: 1.6em;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.1em;
    font-weight: lighter;
    line-height: 150%;
}

.parag aside {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

/* deuxieme BOITE */
.boite2,
.boite4 {
    padding: 8%;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.boite2 {
    background-color: #e5fffe;
}

.boite4 {
    background-color: #2f3d44;
}

.formation {
    font-size: 2em;
    color: black;
}

.proj {
    color: white;
}

.name_form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.boite_info {
    width: 32%;
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    background-color: #222;
    color: white;
    border-radius: 10px;
}
/* troisieme boite */
.compet {
    width: 100%;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.compet section {
    display: flex;
    flex-direction: column;
    width: 47%;
    margin-top: 50px;
}
.compet section a{
    width: auto;
}
.compet section h5{
    margin-bottom: 5px;
}
.compet section aside{
    display: block;
    width: 90%;
    height: 10px;
    background:  #13A6A6;
    border-radius: 20px;
    margin-bottom: 20px;
}
.compet section .bootstrap{
    width: 75%;
}
.compet section .wordpress{
    width: 60%;
}
.compet section .figma{
    width: 68%;
}
.compet section .canva{
    width: 74%;
}
.compet section .photoshop{
    width: 40%;
}
/* quatrieme boite */
.boite22 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

.boite22 section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.boite22 section aside,
.equipe {
    display: flex;
    flex-direction: column;
    width: 24%;
    height: 240px;
    padding-top: 10px;
    margin-bottom: 15px;
}
.blocks aside {
    display: flex;
    justify-content: center;
    border-radius: 7px;
    border: 5px solid #13A6A6;
}
aside h5 a {
    color: white;
    background-color: #13A6A6;
    padding: 20px;
    border-radius: 7px;
}

.block1 {
    background-image: url(IMG/projet1.png);
    background-size: cover;
}

.block2 {
    background-image: url(IMG/projet2.png);
    background-size: cover;
}

.block3 {
    background-image: url(IMG/projet3.png);
    background-size: cover;
}

.block4 {
    background-image: url(IMG/projet4.png);
    background-size: cover;
}

.block5 {
    background-image: url(IMG/projet5.png);
    background-size: cover;
}

.block6 {
    background-image: url(IMG/projet6.png);
    background-size: cover;
}

.block7 {
    background-image: url(IMG/projet7.png);
    background-size: cover;
}

.block8 {
    background-image: url(IMG/projet8.png);
    background-size: cover;
}

/* cinquieme boite */
.compete {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.compete section,
.compete form {
    width: 47%;
}

.invit {
    color: black;
    font-weight: bold;
    font-size: 3.3em;
}

.icon {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

/* ICON */
.fa-solid {
    color: #08FDD8;
    margin-right: 35px;
}

.first {
    height: 70px;
    margin-bottom: 10px;
}

/* ICON */
.email {
    color: black;
}

.formul section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.formul section input {
    width: 49%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #D3D3D3;
    height: 50px;
}

.form {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.copie {
    margin-top: 0px;
}

.mms {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid #D3D3D3;
}

/* footer */
footer {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (max-width: 600px) {
    header {
        width: 100%;
        height: 600px;
        background-size: cover;
    }

    .Logo {
        font-size: 2em;
    }

    nav {
        width: 100%;
        display: block;
    }

    nav ul {
        display: block;
        width: 100%;
        margin-top: 20px;
        justify-content: center;
    }

    nav ul li {
        margin-top: 9px;
    }

    .present {
        margin-top: 50px;
    }
    .Nom {
        font-size: 2.3em;
    }
    .salut, .Poste {
        font-size: 1.3em;
    }
    .boite22 section aside, .equipe {
        display: flex;
        width: 100%;
        height: 240px;
        padding-top: 10px;
        margin-bottom: 15px;
    }
    .equipe {
        height: auto;
    }
    /* boite 1 */
    .photo section, .name_form aside, .compet section {
        width: 100%;
        margin-top: 30px;
        padding: 20px;
    }
    .compete section, .compete form {
        width: 100%;
    }
    .compete form {
        margin-top: 30px;
    }
}

@media screen and (min-width: 601px)and (max-width: 1000px) {
    .Logo {
        font-size: 2em;
    }
    nav {
        width: 100%;
        display: block;
    }
    nav ul {
        width: 100%;
        margin-top: 20px;
        justify-content: center;
    }
    nav ul li {
        margin-right: 20px;
    }
    .photo section, .name_form aside, .compet section {
        width: 49%;
        margin-top: 30px;
        padding: 20px;
    }
    .compete section, .compete form, .compet section {
        width: 100%;
    }
    .compete form {
        margin-top: 30px;
    }
    .boite22 section aside, .equipe {
        display: flex;
        width: 49%;
        height: 300px;
        padding-top: 10px;
        margin-bottom: 15px;
    }
    .equipe section {
        height: 300px;
    }
    .equipe {
        height: auto;
    }
}
